# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class
env/
venv/
.env
.env.*

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Celery
celerybeat-schedule
celerybeat.pid

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
logs/

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Build
dist/
build/
out/

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Node modules (if you add any frontend tools)
node_modules/

# Secret keys and sensitive files
*.key
*.pem
.secret